// 변수 처리

// site width
$siteWidth: 1320px;

// text size
$fontSizeTiny: 12px;
$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// 색상정의
// background color
// $layoutBg: #fff3c4;
$layoutBg: #fff;
$tableBg: #b8944d;
$footerBg: #191e2a;

// font color
// $fontColorBasic: #666666;
$fontColorBasic: #283043;
// $fontColorPrimary: #b8944d;
$fontColorPrimary: #202020;
// $fontColorHover: #e3a936;
$fontColorHover: #9fbee4;
$fontColorGray: #7d7d7d;

// border color
// $borderColorPrimary: #b8944d;
$borderColorPrimary: rgba(255, 255, 255, 0.5);
// $borderColor1: #997939;
$borderColor1: #e5e5e5;

// button color
// $gbtnColor: #b8944d;
$gbtnColor: #9fbee4;
// $gbtnColorHover: #e3a936;
$gbtnColorHover: #9fbee4;
